*{
    margin: 0;
    padding: 0 0 0 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 50px 0 20px 0;
    font-size: 50px;
    font-style: oblique;
    color: rgb(91, 151, 255);
}
input{
    padding: 5px 0 5px 0;
    margin: 10px 0 20px 0;
    font-size: 40px;
    border: double;
    border-radius: 2px;
}
input:hover{
    cursor: pointer;
}
button{
    padding: 10px 20px 10px 20px;
    margin: 40px px 10px 0px;
    font-size: 20px;
    background-color: rgb(22, 104, 246);
    color: rgb(255,255,255);
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(91, 151, 255);
}
input[placeholder]{
    font-style: oblique;   
}